.git/
.gitignore

.venv/
venv/

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

.vscode/
.idea/
.DS_Store
Thumbs.db

*.log
*.tmp
*.zip
*.rar
*.7z

notebooks/
artifacts/experiments/

data/*
!data/README.md

artifacts/models/*
!artifacts/models/README.md

artifacts/metadata/*
!artifacts/metadata/README.md

user_data/*
!user_data/README.md
